* {
    margin: 0;
    padding: 0;
    list-style: none;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(Imagens/galaxia\ cabeçalho.jpg);
    background-position:center;
    background-repeat:  no-repeat;
    background-size: cover;
}
header h1 {
    color: aliceblue;
    font-size: 50px;
}




.sessao1 .flex {
    padding: 70px; /*preenchimento da sessão*/
    display: flex; /*tornando o item flex-*/ 
    justify-content: center; /*Justificando o conteudo ao centro*/
    align-items: center; /*Alinhamento os itens ao centro na vertical*/
    gap: 200px; /*propriedade utilizada para dar o respiro/espaço entre os elementos*/
    background-color: rgb(0, 0, 0);
}
.sessao1 .flex .jupiter {
    background-image: url(Imagens/jupiter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sessao1 .flex .terra {
    background-image: url(Imagens/terra.jpg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sessao1 .flex .marte {
    background-image: url(Imagens/marte.jpg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex div {  
    width: 300px; /*Altura da caixa*/
    height: 200px; /*Largura da caixa*/
    box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.205); /*Sombreado externa da caixa primeiro valor eixo horizontal, segundo valor eixo vertical, ultimo valor exposição da sombra*/
    padding: 25px; /*preenchimento da sessão*/
}
.flex div:hover {
    transition: 0.8s;
    transform: scale(1.16, 1.16); /*Trabalha com a scala de movimentação dos eixos X e Y*/
     
    /*1.   translate()
    descrição: move um elemento ao longo dos eixos X
    (Horizontal) e Y (Vertical)*/

    /*2. Rotate
    Descrição: rotaciona um elemento ao redor do seu ponto central*/

    /*3. Scale
    descrição: redimensiona um elemento ao longo dos eixos X e Y */

    /*4. swek
    descrição: inclina um elemento ao longo dos eixos X e Y */
}




.sessao2 {
    padding: 100px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sessao2 .pai {
    gap: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sessao2 img {
    width: 500px;
    height: 500px;
    box-shadow: 1px 1px 15px white;
}


.sessao2 h2 {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: rgb(238, 255, 0);
}
.sessao2 p {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.sessao3 {
    padding: 100px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 40%, rgba(0, 17, 255, 0.76) 100%);
    
}
.sessao3 h2 {
    font-size: 40px;
    color: azure;
    text-align: center;
    margin: 30px;
}
.sessao3 .pai1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sessao3 .pai1 div img {
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 10px rgba(38, 0, 255, 0.76);
}
.sessao3 .pai1 div p {
    text-align: center;
    color: azure;
    font-size: 25px;
}



.sessao5 {
    padding: 70px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 88.33%, rgb(43, 43, 43) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sessao5 button {
    cursor: pointer;
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.562);
    color: azure;
    border-color: rgba(137, 43, 226, 0.397);
    transition: 0.6s;
}
.sessao5 button:hover {
    transition: 0.6s;
    border-radius: 30px;
    background-color: black;
    border-color: rgb(137, 43, 226);
}



footer {
    background: linear-gradient(360deg, black 100%, rgb(27, 27, 27) .55%);
    padding: 20px;   
}